<!DOCTYPE html>
<html>
  <head>
    <title>Yeah, let's welcome our new visitor!</title>
  </head>
  <body>
    <h3>Hurray to visitor #{{ value }} &#128512;</h3>

    <!-- https://www.kirilv.com/canvas-confetti/ -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
      function realistic() {
        var count = 200;
        var defaults = {
          origin: { y: 0.7 },
        };

        function fire(particleRatio, opts) {
          confetti(
            Object.assign({}, defaults, opts, {
              particleCount: Math.floor(count * particleRatio),
            })
          );
        }

        fire(0.25, {
          spread: 26,
          startVelocity: 55,
        });
        fire(0.2, {
          spread: 60,
        });
        fire(0.35, {
          spread: 100,
          decay: 0.91,
          scalar: 0.8,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 25,
          decay: 0.92,
          scalar: 1.2,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 45,
        });
      }

      window.onload = function () {
        try {
          realistic();
        } catch (e) {
          console.error(e);
        }
      };
    </script>
  </body>
</html>
